<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.Name %>
  </p>

  <p>
    <strong>Center lat:</strong>
    <%= group.center_lat %>
  </p>

  <p>
    <strong>Center lng:</strong>
    <%= group.center_lng %>
  </p>

</div>
