<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Center lat:</strong>
    <%= group.lat %>
  </p>

  <p>
    <strong>Center lng:</strong>
    <%= group.lng %>
  </p>

</div>
