<div id="<%= dom_id user %>">
  <p>
    <strong>Display name:</strong>
    <%= user.display_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= user.password_digest %>
  </p>

</div>
