
<div class='container'>
  <div class='row'>
    <div class='col-10'>
      <h1>Home#index</h1>
    </div>
    <div class='col-2'>
      <%= link_to 'New idea', new_point_of_interest_path %>
    </div>
  </div>


  <div class="row">
    <div class="col-6">
      <div id="map" style="height:600px;"></div>
    </div>

    <div class="col-6">
    This is a seperate commment
    </div>
  </div>
</div>

<script>
     <%= render partial: 'shared/map' %>
     // Add markers to the map for each infrastructure idea
     <% @pois.each do |poi| %>
       L.marker([<%= poi.latitude %>, <%= poi.longitude %>]).addTo(map);
     <% end %>
</script>
